<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary edit-modal-opener" data-toggle="modal" data-target="#newProductModal">
  Új termék felvétele
</button>

<!-- The Modal -->
<div class="modal fade edit-modal" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ">Új termék</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form method="POST" action="/addproduct">
        <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group text-left d-none">
                    <label class="head-label ">ID: </label>
                    <input class="form-control" type="text" name="product_id" value=""> 
                </div>
                <div class="form-group text-left">
                    <label class="head-label ">Termék neve: </label>
                    <input class="form-control" type="text" name="newproduct" value=""> 
                </div>
                <div class="form-group text-left">
                    <label for="groups" >Csoport:</label>
                    <select class="form-control" id="groups" name="newgroup"> Válassz csoportot!
                         <option disabled selected value="">Válassz csoportot</option>
                        <option class='category-option' value="Fűtéstechnika">Fűtéstechnika</option>
                        <option class='category-option' value="Számítástechnika">Számítástechnika</option>
                        <option class='category-option' value="Konyhatechnika">Konyhatechnika</option>
                        <option class='category-option' value="Árnyékolástechnika">Árnyékolástechnika</option>
                    </select>
                </div>
                <div class="form-group text-left">
                    <label class="head-label ">Termékleírás: </label>
                    <textarea class="form-control" rows="5" id="comment" name="newProductDesc"></textarea> 
                </div>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
            <input type="submit" class="btn btn-success" value='Mentés'>

            </div>
        </form>
  
      </div>
    </div>
  </div>

