{{#each items}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.category}}</td>
    <td>
        {{!-- <button class="btn btn-primary" data-id={{this.id}}>Szerkesztés</button> --}}
        {{> product_edit_modal}}
        {{> product_delete_modal}}
    </td>
</tr>
{{/each}}