<table class=" table table-hover table-border text-right">
    <thead>
        <th>ID</th>
        <th>Csoport neve</th>

    </thead>
    <tbody>
        {{> group_table_data}}
    </tbody>

</table>
<div class="text-right">
<div>
    {{> new_group_modal}}
</div>
    {{!-- <button class="btn btn-success">Új termék</button> --}}
    {{!-- {{> storage_modal}} --}}
</div>