<table class=" table table-hover table-border text-right">
    <thead>
        <th>ID</th>
        <th>Megnevezés</th>
        <th>Csoport</th>
        <th>Műveletek</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Processzor</td>
            <td>Számítástechnika</td>
            <td>
                <button class="btn btn-primary">Szerkesztés</button>
                <button class="btn btn-secondary">Törlés</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Processzor</td>
            <td>Számítástechnika</td>
            <td>
                <button class="btn btn-primary">Szerkesztés</button>
                <button class="btn btn-secondary">Törlés</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Processzor</td>
            <td>Számítástechnika</td>
            <td>
                <button class="btn btn-primary">Szerkesztés</button>
                <button class="btn btn-secondary">Törlés</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Processzor</td>
            <td>Számítástechnika</td>
            <td>
                <button class="btn btn-primary">Szerkesztés</button>
                <button class="btn btn-secondary">Törlés</button>
            </td>
        </tr>        
    </tbody>

</table>
<div class="text-right">

    <button class="btn btn-success">Új termék</button>
</div>