<table id='productTable'class=" table table-hover table-border text-right">
    <thead>
        <th>ID</th>
        <th>Megnevezés</th>
        <th>Csoport</th>
        <th>Műveletek</th>
    </thead>
    <tbody>
        {{> products_table_data}}
    </tbody>

</table>
<div class="text-right">

    {{!-- <button class="btn btn-success">Új termék</button> --}}
    {{> modal}}
</div>

<script>
    $(document).ready(function() {
    $('#productTable').DataTable();
});

//$('#productTable').dataTable({searching: false, info:false; paging: true});

</script>